
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}

/* slide section  is here */
#slider{
    position: relative;
    padding:0px 8px;
    height:600px;
    width:100%;
    background-color: rgb(255, 255, 255);
      
}

#slidebtn{
    width:32px;
    height:52px;
    display: flex;
    justify-content:center;
    align-items: center;
    color:black;
    font-size: 35px;
    text-shadow: 3px 1px rgba(255, 255, 255);}

#slidebox1{
    border-radius:3px;
    margin-top: 2px;
    margin-left:2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:250px;
    width:80px; 
}
#slidebox1:focus{
    border:3px solid #008296;
    box-shadow: 0 0 0px 2px #fff;

}
#slidebox2{
    border-radius:3px;
    margin-top: 2px;
    margin-right:2px;
    display: flex;
    align-items: center;
    justify-content: center;
    height:250px;
    width:80px; 
}
#slidebox2:focus{
    border:3px solid #008296;
    box-shadow: 0 0 0px 2px #fff;

}
#slideimg{
    height: 600px;
    width:1500px;
    background-color: #E3E6E6;
}

 /* item-container start form here */
#item-container{
    position:relative;
    top:-348px;
    min-width: 919px;
    display: flex;
    margin:0px 15px;
    gap:20px;
    flex-wrap: wrap;
    justify-content: center;
}

#item{
    width:23.5%;
    display: flex;
    flex-direction: column;
    height:420px;
    min-width:285px;
    padding:20px;
    background-color: white;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 1247px) {
    #item{
        width:31.5%;
        display: flex;
        flex-direction: column;
        height:420px;
        min-width:285px;
        padding:20px;
        background-color: white;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
    }
    
  }
#item .header h2{
    font-size: 21px;
    font-weight: bold;
    margin-bottom: 10px;
}
#item #box{
    width: 100%;
    height:100%;
}
#imgbox{
    width:100%;
    height:100%;

}
 #img{
    width:100%;
    height:100%;
}
#img img{
    width:100%;
    height:100%;
}
#link{
    /* height:5%; */
    width:100%;
    margin:20px 0px;
}
#link a{
    font-size: 13px;
    color:#007185;
    font-weight: bold;
    text-decoration: none;
    transition: 0.1s;
}
#box:hover + #link a {
    color: rgb(252, 156, 0);
  }
  
#link a:hover{
    color:orange;
}
 /* item-container ...first 4 img box  */

 #box .box1{
    width:100%;
    height:50%;
    display: flex;
    flex-direction: row;
    background-color:white;
 }
 #box .box2{
    width: 100%;
    height:50%;
    display: flex;
    flex-direction: row;
    background-color:white;
 }
 #box .box1 .child1{
    width:50%;
    height:100%;
    display: flex;
    flex-direction: column;
 }
 #box .box1 .child2{
    width:50%;
    height:100%
 }
 #box .box2 .child3{
    width:50%;
    height:100%;
 }
 #box .box2 .child4{
    width:50%;
    height:100%;
 }
  
 #g-img{
    width:100%;
    height:85%;
 }
 #g-img img{
    width:100%;
    height:100%;
 }
 #g-link{
    width:100%;
    height:15%;
 }
 #g-link a{
    font-size: 12px;
    text-decoration: none;
    color:black;
    margin-bottom:3px;
 }
 
 /* last 4 img box  */
 #child-box{
    height:100%;
    width:100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:20px;
}
#child-box .child5{
    width:100%;
    height:100%;
}


 /* navbar form here   */
 #navbar{
    width:100%;
    height: 60px;
    min-width: 1019px;
    display: flex;
    background-color: #131921;
 }
  /* navleft from here  */
#navleft{
    width:19%;
    height:100%;
    min-width: 245px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}
#navleft .logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width:50%;
    height:100%;
    padding:7px 10px;
    padding-right: 0px;
    margin-right:4px;
}
#navleft .logo .img{
    width: 100%;
    height:100%;
    border-radius: 2px;
    background-image:url('logo.png');
    background-position:center;
    background-size:120%;
    background-repeat: no-repeat;
}
#navleft .logo .img:hover, #navleft .logo .img:focus{
    border:1px solid white;

}
#navleft .location{
    width:50%;
    height:100%;
    display: flex;
    justify-content:center;
    align-items: center;
    padding:7px 10px;
    padding-left:0px;

}
#navleft .location .location-box{
    width:120fpx;
    height:100%;
    text-decoration:none;
    display: flex;
    justify-content: space-between;
    border-radius: 2px;
    align-items: center;
}
#navleft .location .location-box:hover, #navleft .location .location-box:focus{
    border:1px solid white;
}
#navleft .location .licon{
    width:20%;
    height:100%;
    position: relative;
    top:15px;
    left:9px;
  
}
#navleft .location .lname{
    width:80%;
    height:100%;
}

#navleft .location .lname .span1{
    font-size: 12px;
    font-weight:500;
    color:silver;
    position: relative;
    top:2px;
}
#navleft .location .lname .span2{
    font-size: 15px;
    font-weight: bold;
    color:rgb(255, 255, 255);
    position: relative;
    bottom:8px;
}
#navleft .location .licon i{
    color:white;
}


 /* navmiddle from here  */

#navmiddle{
    width:56%;
    background-color: #131921;
    height:100%;
    min-width:450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#navmiddle .search-container{
    width:100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#search-box{
    width:100%;
    height:40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:5px;
    background-color:#ffffff;
    border-radius: 5px;
    cursor: pointer;

}
#selectbox{
    border-right:1px solid silver;
    border-left: none;
    border-bottom:none;
    border-top:none;
    min-width: 52px;
    font-size:10px;
    height:inherit;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background-color: #E6E6E6;
    white-space: nowrap; 
    overflow: hidden;   
    text-overflow: ellipsis;

}
#selectbox option{
    background-color: white;
    color:black;
    font-size:15px;
    font-weight: 500;
}
#selectbox:focus{
    outline:none;
    border:3px solid #FF9900;
    transform: scale(1.08);
}
#search-box .searchinput{
    width:100%;
    min-width:325px;
    display: flex;
    justify-content: start;
    align-items: center;
    height: inherit;
}

#search {
    width:100%;
    height: inherit;
    border:none;
    font-weight: 600;
    padding-left:10px;
}
#search:focus{
    outline: none;
    border:3px solid #FF9900;
}

#search-box .searchbtn{
    width: 45px;
    height:inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    height:inherit;
}

#btn{
    border:none;
    background-color: #FEBD69;
    width:inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
}
#btn:hover {
    background-color: #dfa963;
    border:3px solid #FF9900;
}
 #btn:focus{
    border:3px solid #FF9900;
    transform: scale(1.08);
}
#btn i{
    font-size:22px;
}
#navright{
    min-width:345px;
    width:25%;
    display:flex;
    margin:0px 3px;
    display: flex;
    justify-content:center;
    align-items: center;
    height:100%;
    background-color:#131921;
}

#navright .right-1{
    margin-right:2px;
    min-width: 78px;
    width:22%;
    display: flex;
    justify-content: center;
    align-items: center;
    height:inherit;
    padding: 7px 0px;
}
#language{
    text-decoration:none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    text-align: center;
    height: inherit;
    border-radius:2px;
}
#language:hover, #language:focus{
    border:1px solid white;

}
#language .flag{
    width: 17px;
    height:21px;
    background-image: url('l-icon.png');
    background-position:center;
    background-size: cover;
}
#language .text{
    color:white;
    font-weight: 700;
    font-size: 14px;
    position:relative;
    right:5px;
}
#language .l-icon{
    position: relative;
    left:-10px;
    color:silver;
    top:2px;
    font-size:8px;
}
#navright .right-2{
    padding: 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:2px;
    min-width:132px;
    width:40%;
    height: inherit;
}

#account{
    text-decoration:none;
    width:100%;
    height: inherit;
    text-align: center;
    border-radius:2px;
}
#account:hover, #account:focus{
    border:1px solid white;
}
#account .signin{
    position:relative;
    top:3px;
    color:white;
    font-size:12px;
    font-weight: 600;
}
#account .AC-info{
    position:relative;
    top:-3px;
    color:white;
    font-size:14px;
    font-weight: bold;
}
#account .AC-info i{
    font-size:8px;
}

#navright .right-3{
    padding: 7px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right:2px;
    min-width: 77px;
    width:22%;
    height: inherit;
}
#service{
    text-decoration:none;
    text-align: center;
    width: 100%;
    height: inherit;
    border-radius:2px;
}
#service:hover, #service:focus{
    border:1px solid white;
}
#service .return{
    position: relative;
    top:3px;
    font-size: 12px;
    color:white;
    font-weight: 600;
}
#service .order{
    position: relative;
    top:-3px;
    color:white;
    font-size:14px;
    font-weight: bold;
}
#navright .right-4{
    padding: 7px 0px;
    margin-right:2px;
    min-width:60px;
    width: 16%;
    height:inherit;
}

#cart{
    text-decoration:none;
    text-align: center;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height:inherit;
    border-radius:2px;
}
#cart:hover , #cart:focus{
    border:1px solid white;
}
#cart .add-to-cart{
    display: flex;
    flex-direction: column;
}
#cart .add-to-cart .number{
    position: relative;
    top:-2px;
    z-index: 1;
    font-size:11px;
    color:orangered;
}
#cart .add-to-cart .C-icon{
    position: relative;
    top:-4px;
    color:white;
    font-size:15px;
}
#cart .cart-text{
    color:white;
    font-size: 14px;
    position: relative;
    top:3px;
    font-weight: bold;
}

#navbottom{
    height:40px;
    display:flex;
    flex-direction: row;
    align-items:center;
    width:100%;
    background-size: 200px;
    background-color:#232F3E;
    padding:0px 10px;
}

#navbottom .menu{
    height:39px;
    width:60px;
    text-decoration: none;
    display: flex;
    justify-content:center;
    align-items: center;
    min-width: 58px;
    border-radius: 2px;
}
#navbottom .menu:hover , #navbottom .menu:focus{
    border:1px solid white;

}
#navbottom .menu .menu-text{
    font-size: 14px;
    color:white;
    font-weight: 700;
    position: relative;
    left:5px;
}



 /* sidebar start form here  */
 #check{
    display: none;
 }

#side-body{
    position:fixed;
    top:0;
    left:-100%;
    width:100%;
    z-index:1000;
    background-position: fixed;
    opacity:0%;
    height: 100%; 
    background-color: black;
    transition: opacity 0.5s;
}
#check:checked ~ #side-body{
    left:0;
    opacity: 80%;
}
#sidebar{
    position:fixed;
    top:0;
    left:-365px;
    height:100%;
    overflow: scroll;
    width:365px;
    min-width: 365px;
    z-index: 10001;
    opacity: 100%;
    background-color: #ffffff;
    transition: all 0.4s;
}
#check:checked ~ #sidebar{
    left:0;
}

#topside{
    width:inherit;
    height:50px;
    position:absolute;
    justify-content: center;
    align-items: center;
    top:0;
    z-index: 11;
    left:0;
    background-color: #232F3E;
}
#topside .st-content{
    position: absolute;
    top:0;
    left: 0;
    text-decoration: none;
    width: inherit;
    height: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;

}
#topside .st-content .side-icon{
    width: 75px;
    height:25px;
    color:rgb(22, 21, 21);
    display: flex;
    justify-content: flex-end;
    margin-right:6px;
    align-items: center;
}
#topside .st-content .side-icon span{
    width:27px;
    font-size: 18px;
    height: 27px;
    display: flex;
    justify-content:center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
}
#topside .st-content .side-text{
    width:292px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 6px;
    height: inherit;
}
.side-text span{
    font-size: 19px;
    color:white;
    font-weight: bold;
}
#bottomside{
    width:inherit;
    position:relative;
    top:50px;
    left:0;
    padding:7px 0px 30px;
    height: inherit;
}
#bottom-content{
    width:inherit;
    padding:0px;
    margin:0px;
    margin-top:10px;
    height: inherit;
    list-style: none;
}
#bottom-content li{
    width: inherit;

}
#bottom-content li div{
    font-size: 18px;
    color:black;
    font-weight: bold;
    padding:13px 20px 13px 36px;

}
#bottom-content .listtag{
    height:42px;
    display: flex;
    align-items: center;
}

.listtag a{
    width:inherit;
    text-decoration: none;
    color:rgb(72, 70, 70);
    font-size: 14px;
    font-weight: 500;
    padding:13px 20px 13px 36px;
} 
.listtag a:hover{
    background-color:rgb(239, 239, 239);
    color:rgb(72, 70, 70);

}
.listtag i{
    position: relative;
    top:2px;
    font-size: 18px;
    color:rgb(171, 171, 171);
    text-align: center;
    float:right;
    margin-right: 15px;
}
.listtag i:hover{
    color:black;
}
#seeall i{
    margin-left: 10px;
    float:none;
}
.listtag:hover i,
.listtag:hover a i {
    color: black;
}

.listtag i:hover{
    color:black;
}
.listtag .from-footer i{
    float:none;
}
.listtag .also-footer{
    height:47px;
    display: flex;
    align-items: center;
    flex-direction: row;
}
#side-icon{
    height:15px;
    width:20px;
    margin-right: 13px;
    background-image: url('l-icon.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
     
}
#menu-close{
    background-color: rgb(49, 54, 49);
    color:white;
    font-weight: bold;
    padding:5px 10px;
    position: fixed;
    top:10px;
    border-radius: 10px;
    z-index: 10002;
    display: none;
    left:370px;
    border:2px solid silver;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
#check:checked ~  label #menu-close{
    display:block;
}
#menu-open{
    position:relative;
    font-size: 20px;
    z-index:10001;
    font-weight: 600;
    color:white;
}
#check:checked ~ label #menu-open{
    z-index: 5;
}

#navbottom .list{
    height: 39px;
    width:90%;
    display: flex;
    min-width: 1000px;
    flex-direction: row;
    align-items: center;
    background-color: #232F3E;
}
#navbottom .list a{
    text-decoration: none;
    color:white;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    padding:8px 9px;
    border-radius: 2px;
    font-weight: 500;
    font-size: 14px;
}
#navbottom .list a:hover , #navbottom .list a:focus{
    border:1px solid white;

}

 /* item slider start from here...  */

 #item-slider{
    height: 282px;
    width:98%;
    padding:10px 0px 10px 20px;
    display: flex;
    position: relative;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2), 0 6px 6px rgba(0, 0, 0, 0.1);
 }

 #item-slider .slide-title{
    height: 32px;
    background-color: rgb(255, 255, 255);
    width: inherit;
 }
 #item-slider .slide-title span{
    font-size: 21px;
    font-weight: 700;
    color:black;
 }
 #item-slider .slide-item{
    height: 220px;
    display:flex;
    justify-content: center;
    align-items: center;
    width: inherit;
    background-color: rgb(255, 255, 255);
 }

/* one box slider is here.... */

.slider-container{
    position: relative;
    overflow:hidden;
    display: flex;
    min-width: 100%;
    width:100%;/* Set the width to 100% */
    height:200px;
  }
  .slider-box {
    display: flex;
    transition: transform 0.5s ease;
    width: 100%; /* Set the width to 100% */
    height: inherit; /* Set the height to 100% */
  }
  .slider-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: auto;
  }
  .slider-items img{
    display: flex;
    padding:0px 15px;
    width: auto;
    height: auto;
    max-width: 270px;
    max-height: 200px;
  }
  .next-button,
   .prev-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding:30px 10px;
    background-color:white;
    opacity:0%;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    border:1px solid silver;
    border-bottom-right-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-left-radius: none;
    border-top-left-radius: none;
    transition: opacity 0.4s;
  }
  .prev-button:focus,
  .next-button:focus{
    border:2px solid #41828C;
  }
  #btn-icon{
    font-size: 35px;
    color:black;
    font-weight: bold;
  }
  .prev-button {
    left:0px;
    top:110px;
  
  }
  .next-button {
    right:0px;
    top:110px;
  }
  

  /* footer start from here..  */

footer{
 position:absolute;
 top:1545px;
 /* bottom:0; */
 display: flex;
 flex-direction: column;
 justify-content:center;
 width: 100%;
 min-width: 920px;
 background-color:#232F3E ;
 /* height: 548px; */
}
@media screen and (max-width: 1247px) {
    footer{
        top:1985px;
    }
    
  }
footer .back-to-top{
 width: inherit;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: #37475A;
}
footer .back-to-top a{
 color:white;
 text-decoration: none;
 font-weight: 600;
 font-size: 15px;
 padding:20px 10px;
}
footer .user-help{
 width: inherit;
 display: flex;
 gap:10px;
 justify-content: center;
 flex-direction: row;
}

footer .user-help div{
 padding:0px 45px;
 margin:0px 12px;
 display: flex;
 flex-direction: column;
}
@media screen and (max-width: 1200px) {
    footer .user-help div{
        padding:0px 25px;
        margin:0px 3px;
    }
    
  }
footer .user-help span{
 font-size: 16px;
 font-weight: bold;
 color:white;
 margin:25px 0px 10px 0px;
}
footer .user-help a{
 color:#DDDDDD;
 margin-bottom: 8px;
 font-size: 14px;
 font-weight: 600;
 text-decoration: none;
}
footer .user-help a:hover{
 text-decoration: underline;
}
footer .llcc{
 width: inherit;

 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: row;
 height: 100px;
 padding:10px 0px 25px 0px;
}
footer .llcc .btmlogo{
 width:120px;
 height: 50px;
 display: flex;
 justify-content: center;
 align-items: center;
 margin-right: 20px;
}
footer .llcc .btmlogo .amazon-logo{
 width: inherit;
 height: inherit;
 background-image: url('logo.png');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
footer .llcc .btmlcc{
 display: flex;
 height: 50px;
 gap:10px;
 justify-content:center;
 align-items: center;
 margin-left: 30px;
 flex-direction: row;
}
 .anc-1 , .anc-2, .anc-3{
 text-decoration: none;
 border:1px solid rgb(217, 216, 216);
 display: flex;
 border-radius: 2px;
 flex-direction: row;
 justify-content: space-around;
 align-items: center;
 gap:5px;
 padding:5px 15px;
}
.anc-1 .fa-globe{
 color:rgb(196, 193, 193);
}
.anc-1 span{
 color:rgb(201, 200, 200);
}
.anc-2 i{
    color:white;
}
.anc-2 span{
    color:rgb(213, 211, 211);
}
.anc-3 span{
    color:rgb(212, 210, 210);
}

#flag-icon{
 height:15px;
 width:20px;
 background-image: url('l-icon.png');
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}
footer .copyright{
    width: inherit;
    height: 50px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding:10px 30px;
   }
.support{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap:10px;
}
.support a{
    color:silver;
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
}
.support a:hover{
    color:silver;
    text-decoration: underline;
}
.support i{
    color:white;
    font-size: 12px;
}
.rights span{
    font-weight: 700;
    font-size: 12px;
    color:silver;
}
#hrtag{
 color:white;
}